
.movies-section{

    margin:30px;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-evenly;  
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px darkgray;
}